@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  background: whitesmoke;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: black;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

/* color 1 =  background: #DCD9CD; */
/* color 2 = teal */

/* Navbar  */

.navbar-div {
  height: 10vh;
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BANNER */

.banner-div {
  width: 90%;
  height: 90vh;
  padding: 0;
  margin: 0 auto;
}

.banner-container {
  display: flex;
  height: auto;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  justify-content: left;
}

.banner-left-div {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-right-div {
  width: 30%;
  background: linear-gradient(to right, #008080, #00CED1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-radius: 10px;
}

.banner-right-div-header {
  margin: 0 auto;
  padding: 0;
  background: none;
  font-weight: bold;
  font-size: 16px;
  margin-right: auto;
  color: whitesmoke;
}

.trending-div {
  display: flex;
  width: 100%;
  gap: 10px;
  height: fit-content;
  background: inherit;
  padding: 5px 10px;
  margin: 0 auto;
  justify-content: center;
}

.trending-img {
  width: 160px;
  height: 90px;
  border-radius: 10px;
}

.trending-div-content {
  background: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

.trending-header {
  background: inherit;
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: whitesmoke;
  text-decoration: none;
}

.trending-para {
  font-size: 10px;
  background: inherit;
  padding: 0;
  margin: 0;
  width: 100%;
  text-decoration: none;
  color: whitesmoke
}

/* BANNER */

.main-slider {
  width: 98%;
  height: auto;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 10px;
  margin-right: auto;
}

.slider-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-slider-link {
  width: fit-content;
  display: flex;
  justify-content: left;
  align-items: end;
  width: 100%;
  padding: 0;
  margin: 0;
}

.banner-link-description {
  position: absolute;
  background: none;
  margin-left: 20px;
  width: 100%;
}

.banner-link-header {
  background: none;
  color: whitesmoke;
  width: 80%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0);
}

.banner-img {
  width: 100%;
  height: 520px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.thumbnail-slider {
  width: 70%;
  height: 10vh;
  display: flex;
  background: teal;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.thumbnail-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 12vh;
  margin-top: 10px;
}

.slick-slide > div {
  margin: 0 5px;
}

.thumbnail-img {
  height: 10vh;
  object-fit: cover;
  object-position: top;
  width: 100%;
  border-radius: 10px;
}


/* INTRODUCTION SECTION */

.introduction-div {
  height: auto;
  width: 90%;
  margin: 100px auto;
}

.intro-container {
  height: 500px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 1px rgb(218, 218, 218);
}

.intro-header {
  background: inherit;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.intro-para {
  background: inherit;
  text-align: center;
  font-size: 25px;
  width: 40%;
  margin: 0 auto;
}


/* FEATURED */

.featured-div {
  height: auto;
  width: 90%;
  margin: 150px auto 100PX;
}

.featured-header {
  background: linear-gradient(to right, #008080, #00CED1);
  text-align: center;
  padding: 20px 0;
  color: #fff;
  font-size: 24px;
  border-bottom: 2px solid #2980b9;
  border-radius: 5PX;
  margin-bottom: 50px;
}

.featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: flex-start;
  gap: 20px;
}

.featured-content {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.featured-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  transition: .2s;
}

.featured-img:hover {
  transform: scale(1.02);
}

.featured-cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.cat-link {
  text-decoration: none;
  color: whitesmoke;
  background: linear-gradient(to right, #008080, #00CED1);
  padding: 5px 10px;
  border-radius: 10px;
}

.featured-title {
  text-decoration: none;
  color: black;
  width: 95%;
  height: auto;
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.featured-span {
  display: flex;
  gap: 10px;
  align-items: center;
}

.featured-author-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: top;
  margin-top: 10px;
}


/* FEATURED COMMENTS */

.featured-comment-div {
  width: 90%;
  height: auto;
  margin: 0 auto 100px;
}

.featured-comment-container {
  background: linear-gradient(to right, #008080, #00CED1);
  height: auto;
  padding: 50px 0;
  border-radius: 20px;
}

.featured-comment-header-container {
  background: none;
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-comment-header {
  text-align: center;
  background: whitesmoke;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.featured-comment-sub {
  background: none;
  color: whitesmoke
}

.featured-comment-para {
  background: none;
  color: whitesmoke;
  width: 50%;
  text-align: center;
  margin: 0;
}

.featured-display-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  align-items: flex-start;
  background: none;
  gap: 0;
  padding: 0 20px;
}

.featured-display-content {
  width: 400px;
  display: flex;
  height: auto;
  margin-top: 80px;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
  border-radius: 10px;
  text-decoration: none;
  background: white;
}

.featured-display-content-img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
  object-position: top;
  margin-top: -50px;
  margin-bottom: 10px;
}

.featured-display-content-header {
  margin: 10px auto;
  color: teal;
  font-size: 26px;
  background: inherit;
}

.featured-display-content-user {
  margin: 5px auto;
  color: #919090;
  background: inherit;
}

.featured-display-content-comment {
  text-align: center;
  color: #919090;
  background: inherit;
}

.featured-display-content-quote {
  color: #919090;
  font-size: 100px;
  margin: 0;
}


/* FACULTY SECTION */

.faculty-section-div {
  margin: 0 auto;
  height: auto;
  width: 100%;
}

.faculty-section-container {
  background: wheat;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 200px;
}

.faculty-section-container-div {
  display: flex;
  background: inherit;
  align-items: center;
  height: 20vh;
}

.faculty-section-header {
  width: auto;
  font-size: 40px;
  margin-left: 50px;
  margin-right: auto;
  background: inherit;
}

.faculty-section-para {
  width: 600px;
  margin: 0 auto 0 0;
  display: flex;
  background: inherit;
}

.faculty-section-div2 {
  height: 100vh;
  display: flex;
  gap: 30px;
  background: inherit;
}

.faculty-section-img-div {
  height: 110vh;
  width: 50%;
  display: flex;
  background: inherit;
  margin-top: 50px;
  flex-direction: column;
}

.faculty-section-img-left-div {
  height: 110vh;
  width: 60%;
  display: flex;
  background: inherit;
  margin-top: 50px;
  flex-direction: column;
  margin-left: auto;
}

.faculty-section-img-right-div {
  height: 100vh;
  width: 60%;
  display: flex;
  background: inherit;
  margin-top: 50px;
  flex-direction: column;
}

.faculty-section-img {
  width: 100%;
  margin-left: auto;
  height: 90vh;
  border-radius: 10px;
}

.faculty-section-img2 {
  width: 100%;
  margin-right: auto;
  height: 90vh;
  margin-top: auto;
  border-radius: 10px;
}

.faculty-section-btn {
  color: teal;
  padding: 15px 20px;
  border: 2px solid teal;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  background: linear-gradient(to left, whitesmoke 50%, teal 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
  font-weight: bold;
  margin-top: 20px;
}

.faculty-section-btn:hover {
    background-position: left;
    color: whitesmoke;
    box-shadow: none;
}


/* FEEDBACK SECTION */

.feedback-main-container {
  display: flex;
  width: 90%;
  margin: 200px auto 200px;
}

.feedback-img {
  width: 750px;
  height: 80vh;
}

.feedback-container {
  max-width: auto;
  margin: 0 0 0 auto;
  padding: 40px;
  box-shadow: 0 0 20px 1px rgb(231, 231, 231);
  border-radius: 8px;
  text-align: center;
  color: #919090;
  width: 500px;
  background: white;
}

.feedback-header {
  background: inherit;
}

.feedback-para {
  text-align: left;
  line-height: 25px;
  background: inherit;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  background: inherit;
}

.feedback-label {
  margin-bottom: 8px;
  background: inherit;
}

.feedback-input,
.feedback-textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: 0;
  background: inherit;
}

.feedback-input:focus {
  border-bottom: 3px solid teal;
}

.feedback-textarea:focus {
  border-bottom: 3px solid teal;
}

.feedback-btn {
  color: teal;
  padding: 15px 20px;
  border: 2px solid teal;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  background: linear-gradient(to left, white 50%, teal 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.feedback-btn:hover {
    background-position: left;
    color: white;
    box-shadow: none;
}


/* FOOTER SECTION */

.footer-div {
  height: auto;
  padding: 100px 0 0;
  background: linear-gradient(to left, #397f7f, #d5d4d4);
}

.footer-container {
  display: flex;
  background: none;
  height: 100%;
  flex-direction: column;
}

.footer-container-divs {
  display: flex;
  background: inherit;
  gap: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.footer-logo {
  width: 100px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.footer-links-div2 {
  height: auto;
  display: flex;
  flex-direction: column;
  background: inherit;
  gap: 10px;
  margin-bottom: auto;
  width: auto;
}

.footer-links-div {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background: inherit;
  gap: 10px;
  margin-bottom: auto;
}

.footer-socials-div {
  background: inherit;
  display: flex;
  margin-right: auto;
  gap: 20px;
}

.footer-socials {
  display: flex;
  align-items: center;
  background: inherit;
  margin-left: auto;
}

.legal-header {
  background: inherit;
  margin: 0;
  font-size: 16px;
}

.legal-links {
  background: inherit;
  text-decoration: none;
  color: rgb(9, 9, 148);
  font-size: 14px;
}

.legal-para {
  background: inherit;
  width: 300px;
  margin: 0;
  color: rgb(1, 57, 57);
}

.footer-label {
  background: inherit;
}

.footer-input {
  height: 5vh;
  background: white;
  width: auto;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  outline: 0;
}

.footer-subscribe-btn {
  color: teal;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  overflow: hidden;
  background: linear-gradient(to left, whitesmoke 50%, teal 50%) right;
  background-size: 200%;
  transition: .3s ease-out;
  font-weight: bold;
  width: fit-content;
}

.footer-subscribe-btn:hover {
    background-position: left;
    color: whitesmoke;
    box-shadow: none;
}

.footer-span {
  background: inherit;
  color: rgb(1, 57, 57);
  font-size: 12px;
  width: auto;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  background: inherit;
  gap: 10px;
}

.footer-foot {
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(202, 202, 202);
  padding: 10px 0;
}

.footer-foot-para {
  background: inherit;
  font-weight: bold;
  color: rgb(1, 57, 57);
}